<template>
  <div class="test">
    <h1>This is a test page</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .test {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
<script setup>
</script>
